/* Common CSS */

.logo img
{
	height:50px;
}

.section
{
	margin-top: 50px !important;
}

section img
{
	max-width:100%;
}

p
{
	text-align:justify;
	font-size: 1.3em;
}

/* Section Company */


/* Section Yggdrasill */

/* Section Team */

/* Section Blog */

/* Section Contact */

.facebookContainer, .twitterContainer, .contactContainer
{
	display : none;
}

.activeSocial
{
	display:block;
}
