/* Common CSS */

.section
{
	margin-top: 50px !important;
}

section img
{
	max-width:100%;
}

p
{
	text-align:justify;
	font-size: 1.3em;
}

.facebookContainer, .twitterContainer, .contactContainer
{
	display : none;
}

.activeSocial
{
	display:block;
}

.logo img
{
	height:50px;
}
