/* Common CSS */


html, body
{
	height:100%;
}

.section
{
	height:90%;
}

.body-container
{
	margin-top: 105px !important;
	height: 100%;
}


section img
{
	max-width:100%;
}

p
{
	text-align:justify;
	font-size: 1.3em;
}

h1
{
	color:#ffa300;
}

/* Section Header */

.header-container, .header-container .logo img, .header-container .nav li 
{
	height:105px;
}

.header-container
{
	background-color: #fff;
}

.header-container .nav
{
	margin:auto;
}

.header-container .nav-item
{
	border-right : 1px solid #ffa300;
	text-transform: uppercase;
	padding-top: 25px;
	font-weight: bold;
}

.header-container .nav-item:hover
{
	background-color: #ffa300;
}

.header-container .nav .nav-item:hover a
{
	color:#fff;
}

.header-container .navbar-social
{
	list-style: none;
	padding:40px 0px 0px 5px;
}

.header-container .navbar-social li 
{
	display : inline-block;
	border:none;
	width:20px;
	font-size: 16px;
}

.header-container .navbar-social li a
{
	color:#777;
}

.header-container .navbar-social li:hover a
{
	color:#ffa300;
}



/* Section Company */


/* Section Yggdrasill */

/* Section Team */

/* Section Blog */

/* Section Contact */

.facebookContainer, .twitterContainer, .contactContainer
{
	display : none;
}

.activeSocial
{
	display:block;
}
