p
{
	text-align:justify;
	font-size: 1.3em
}

.facebookContainer, .twitterContainer, .contactContainer
{
	display : none;
}

.activeSocial
{
	display:block;
}

footer
{
	position: absolute;
	bottom: 0;
}

.logo img
{
	height:50px;
}

.progress
{
	height:30px;
}

.progress p 
{
	font-size: 1.5em;
	margin-top: 5px;
	text-align: center;
}

section img
{
	max-width:100%;
}