/* Common CSS */


html, body
{
	height:100%;
	text-align:justify;
	font-size: 1em;
	font-family: "Segoe ui";
	background-image: url("../../../images/common/background.jpg");
}

.section
{
	min-height:100%;
	display:flex;
	align-items: center;
	background-repeat: repeat;	
}

input:focus
{
	border: 0;
	outline: none !important;
	box-shadow: none !important;
}

.login-input, .login-input:hover, .login-input:focus
{
	background-color: #ffa300 !important;
	border-color: #ffa300 !important;
	color: white !important;
	outline: none !important;
	box-shadow: none !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active 
{
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff;
}

.login-input::-webkit-input-placeholder
{ 
	/* WebKit, Blink, Edge */
    color: #fff;
}

.login-input:-moz-placeholder 
{ 
	/* Mozilla Firefox 4 to 18 */
   	color: #fff;
   	opacity:  1;
}

.login-input::-moz-placeholder 
{ 
	/* Mozilla Firefox 19+ */
   	color: #fff;
   	opacity:  1;
}

.login-input:-ms-input-placeholder 
{ 
	/* Internet Explorer 10-11 */
   	color: #fff;
}

.remember-me
{
	font-weight: bold;
	font-size : 0.9em;
	font-style: italic;
}
