/* Common CSS */

html, body
{
	background-image: url("../../../images/common/background.jpg");
	background-repeat: repeat;	
	height:100%;
}

/* Header */

.header-container, .header-container .logo img, .header-container .nav li 
{
	height:80px;
}

.header-container
{
	background-color: #ffa300;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.35);
	border:none;
}

.header-container .nav
{
	margin:auto;
}

.header-container .nav-item
{
	border-right : 1px solid #ffa300;
	text-transform: uppercase;
	padding-top: 15px;
	font-weight: bold;
	font-family: "Segoe Ui";
}

.header-container .nav-item:hover
{
	background-color: #fff;
}

.header-container .nav .nav-item a, .header-container .nav .nav-item a:focus, .header-container .nav .nav-item a:active, .header-container .nav .nav-item a:visited
{
	color:#fff;
}

.header-container .nav .nav-item:hover a
{
	color:#ffa300;
}

/*Blog css*/

.article-container
{
	margin-top: 100px;
	margin-bottom: 20px;
	box-shadow: 10px 0px 15px rgba(0,0,0,0.35), -10px 0px 15px rgba(0,0,0,0.35);
	padding: 0px 0px 0px 0px;
}
.article-container .row
{
	margin: 0px 0px 0px 0px;
}

.article-container .title-container
{
	color:#fff;
	background-color: #222222;
	padding: 10px 25px 10px 25px;
	position:relative;
}

.article-container .content-container
{
	padding: 10px 30px 10px 30px;
}

.article-container a 
{
	color:#fff;
}


.article-container a:hover, .article-container a:focus, .article-container a:active
{
	text-decoration: none;
	color:#fff;
	outline:none;
}

.article-container h1
{
	font-family : "Segoe Ui";
	font-weight: bold;
	margin-bottom: 0px;
}

.article-container .date
{
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 1em;
	font-style: italic;
}

.article-container p
{
	font-family : "Segoe Ui";
	text-align: justify;
}

.gallery-container
{
	margin:0px;
	padding: 0px;
}

.gallery-container .row
{
	margin:0px;
	padding: 0px;
}

.gallery-item
{
	margin:0px;
	padding:0px;
}

.gallery-item img
{
	max-width:100%;
	cursor: pointer;
}

.top-link
{
	color:#fff;
	font-size: 0.8em;
	float:right;
	margin-right: 10px;
}

.top-link:hover
{
	color:#fff;
	text-decoration:none;
}

.navigation-link
{
	position:relative;
	height:50px;
	
}

.navigation-link a
{
	position : absolute;
	text-transform: uppercase;
	font-weight:bold;
	color:#fff;
	background-color: #222222;
	display:block;
	height:100%;
	padding:15px 10px;	
}

.navigation-link a:hover, .navigation-link a:active, .navigation-link a:focus
{
	text-decoration: none;
	color:#fff;
}

.navigation-link .previous
{
	left:0px;
}

.navigation-link .next
{
	right:0px;

}


/*Modal*/
.modal-dialog
{
	width:100%;
	max-width: 	1100px;
}

.modal-footer .btn:hover, .modal-footer .btn:focus, .modal-footer .btn:active
{
	border-color:#ccc;
}

.gallery-header
{
	background-color: #222222;
	color: #fff;
	padding:5px;
	border-bottom:none;
}

.gallery-header h1
{
	font-family: "Segoe Ui";
	text-transform:uppercase;
	margin-bottom: 0px;
}

.gallery-header h2
{
	font-family: "Segoe Ui";
	font-style: italic;
	font-weight: bold;
	font-size: 0.8em;
}


.gallery-header .close
{
	color:#fff;
	opacity:1;
}

.modal-body
{
	padding: 0px;
}

.modal-body img
{
	max-width:100%;

}

.modal-footer
{
	padding:0px;
	border:none;
}

.modal-footer .btn, .modal-footer .btn:hover, .modal-footer .btn:focus, .modal-footer .btn:active
{
	text-transform: uppercase;
	font-weight:bold;
	color:#fff;
	background-color: #222222;
	display:block;
	height:100%;
	padding:15px 10px;	
	border:none;
	width:100px;
	border-radius:0px;
}

/* Mobile design */

.navbar-toggle
{

	margin-top:20px;
}


.navbar-default .navbar-toggle:focus
{
	background-color: #ffa300;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active
{
	background-color: #fff;
	border-color:#ffa300;
}

.navbar-default .navbar-toggle .icon-bar
{
	background-color: #fff;
}

.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:active .icon-bar
{
	background-color: #ffa300;
}


.navbar-default .navbar-collapse
{
	background-color: #ffa300;
	color:#fff;
	text-align: center;
}

@media (max-width: 985px)
{
	.modal-dialog
	{
		width : auto;
	}
}

