.redactorMenu select
{
	margin: 5px;
}

.redactorMenu a
{
	padding: 5px;
	margin-right:5px;
	color:#fff;
}

.redactorMenu a:hover
{
	text-decoration: none;
	color:#ffa300;
}

.redactorMenu 
{
	border:1px solid #222;
	background-color: #222;
}

.redactorContainer
{
	height:auto;
	min-height:500px;
}

.redactorMenu .disabled
{
	display:none;
}